@use "@src/Style";

@mixin set-input-style {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 3rem;

  input {
    font-size: 1rem;
    text-align: left;
    height: 2.3rem;
    border: 0;
    border-bottom: Style.$Basic-Input-Underline 0.125rem solid;
    background: transparent;
    color: Style.$Basic-Contrast;
    outline: none;
  }
}

.TextLine {
  display: flex;

  p {
    width: 8rem;
  }
}

.InputTextInfo {
  @include set-input-style;
  
  input {
    width: 12rem;
  }
}

.InputTextDesc {
  @include set-input-style;

  input {
    width: 64rem;
  }
}