@use "@src/Style";

.InputType {
  margin: auto;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;

  label {
    align-items: center;
    border: Style.$Basic-Selected 0.125rem solid;
    padding: 0.5rem;
  }

  [type = "radio"] {
    display: none;

    + .-label {
      color: Style.$Basic-Contrast;
    }

    &:checked + .-label {
      background-color: Style.$Basic-Selected;
    }
  }
}