@use "@src/Style";

.Home {
  width: 90vw;
  margin: auto;
  padding-top: 4rem;
  
  header {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 0rem;
    color: Style.$Basic-Symbol;
  }

  a {
    text-decoration: none;
    color: Style.$Basic-Symbol;
  }
}