.MainHome {
    width: 80%;
    margin: auto;
    transform: translateY(60px);
    // textAlign: 'justify';
    color: #f0f0f0;

  div {
    text-align: center;
    margin: 0px;
    color: #33a7ff;
  }
}