@use "@src/Style";

.Container {
  display: flex;
  flex-direction: column;
}

.Calendar {
  width: 100%;
  display: flex;
  padding: 0rem;
  margin: auto;
  background-color: Style.$Basic-BG;
}

#Display {
  // display: flex;
  float: left;
  padding: 0.5rem;
  margin: auto;
  // width: 70vw;
  // overflow-x: auto;
  // background-color: Style.$Basic-BG-Light;
}

#Current, #Future {
  float: left;
  width: 100%;
}

.Current {
  background-color: #00aa55;
}

.Future {
  background-color: #d1ab00;
}

.Current, .Future {
  padding: 0.5rem;
  margin: 0.25rem;
  width: 13rem;
  height: 14rem;
  text-align: center;
  float: left;
  flex-direction: column;
  border-radius: 5%;

  .Times {
    text-align: center;

    div {
      display: flex;
      flex-direction: row;
    }
  }

  .Server, .Location {
    color: Style.$Basic-Highlight;
  }
  
  .Description {
    // width: 13rem;
    height: 7.5rem;
    overflow-y: auto;
    word-break: break-all;
  }
  
  .Link {
    display: flex;
    // width: 12rem;
    // margin: auto;
    justify-content: space-between;
  
    a {
      text-decoration: none;
      color: Style.$Basic-Link;
    }

    a[disabled = "disabled"] {
      pointer-events: none;
      cursor: default;
      color: Style.$Basic-BG;
    }

    button {
      // margin-left: 4rem;
      border: 0;
      background-color: Style.$Basic-Symbol;
    }
  }
}