@font-face { // https://noonnu.cc/font_page/1110
  font-family: "Gamja Flower";
  src: url(./ttf/GamjaFlower-Regular.ttf);
}

@font-face { // https://noonnu.cc/font_page/1072
  font-family: "KorailRoundGothicBold";
  src: url(./ttf/Korail_Round_Gothic_Bold.ttf);
}

@font-face { // https://noonnu.cc/font_page/1050
  font-family: "LINESeedKRBold";
  src: url(./ttf/LINESeedKR-Bd.ttf);
}