$Header-Height: 80px;

$color-bg: #272727;
$color-base: #404040;
$color-contrast: #ffffff;

// $color-bg: #0065b2;
// $color-base: #33a7ff;
// $color-contrast: #ffffff;

body {
  margin: 0;
  font-family: D2Coding;
  background-color: $color-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MainHome {
  header {
    text-align: center;
    margin: 0px;
    color: #33a7ff;
  }

  width: 80%;
  margin: auto;
  transform: translateY(60px);
  // textAlign: 'justify';
  color: #f0f0f0;
  
  a {
    text-decoration: none;
    color: #33a7ff;
  }
  
}

.App {
  &-Header {
    z-index: 9999;
    background-color: $color-bg;
    position: sticky;
    top: 0;
  }

  &-Body {
    display: flex;
  }

  &-Nav {
    z-index: 9998;
    background-color: $color-bg;
    height: 100%;
  }

  &-Section {
    position: relative;
    padding: auto;
    width: 100%;
  }

  &-Footer {
    position: relative;
    width: 100%;
  }
}

.Header {
  display: flex;
  font-size: 0.875rem;
  padding-left: 8px;
  align-items: center;
  justify-content: center;

  &-Logo {
    padding: 8px;
  }

  &-Spacer {
    margin: auto;
  }
}

.Footer {
  position: sticky;
  bottom: 5px;
  height: 5rem;
  font-size: 0.75em;
  color: $color-contrast;
  text-align: center;
}

.Nav {
  padding-left: 8px;
  width: 150px;
  max-width: 150px;
  color: #ffffff;

  .Clock {
    margin-left: -16px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    line-height: 2.4;
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;

    a {
      text-decoration: none;
      li {
        color: #ffffff;

      }
    }
  }
}

.ttt-board-row {
  :after {
    clear: both;
    content: "";
    display: table;
  }
}

.square {
  border: 1px solid;
  width: 50px;
  height: 50px;
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  padding: 0;
  :focus {
    outline: none;
  }
}

