$text-color: #f0f0f0;
$text-color-test: #ff0000;

$job-color-unset: #303030;
$job-color-tank: #4d5aa0;
$job-color-healer: #548644;
$job-color-dps: #934848;
$job-color-doh: #5f4592;
$job-color-dol: #bb9b51;
$job-color-special: #808080;

$core-bg-color: #505050;
$core-input-underline-color: #707070;

$selected: #bb9b51;

// $job-color-unset: #b0b0b0;
// $job-color-tank: #2d3a80;
// $job-color-healer: #346624;
// $job-color-dps: #732828;
// $job-color-doh: #5f4592;
// $job-color-dol: #bb9b51;


.Core {
  background-color: $core-bg-color;
  padding: 2rem;
  // width: 90%;
  margin: auto;
  color: $text-color;
}

.ButtonField {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  button {
    color: $text-color;
    font-size: 1.5rem;
    margin: auto;
    border: 0;
    width: 15rem;
    height: 3rem;
    background-color: $selected;
  }
}

#PreviewUser {
  display: none;
}

#R {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 1350px;
  height: 1080px;
  overflow: hidden;

  .ImageInput {
    position: absolute;
    z-index: 10;
    overflow: hidden;
  
    .ImgInput {
      z-index: -1;
      width: 1350px;
      height: 1080px;
      width: fit-content;
      overflow: hidden;
    }
    
    .ImgNone {
      height: 100%;
    }
  }

  .ImageBackground {
    position: absolute;
    z-index: 15;

    img {
      height: 100%;
    }
    
  }
  
  .DisplayContent {
    position: relative;
    z-index: 20;
    // height: 100%;
    color: $text-color;
    fill: $job-color-unset; // svg use fill to color
  
    p {
      width: 30rem;
      color: $text-color;
    }
  }
}