$text-color: #f0f0f0;
$text-color-test: #ff0000;

$job-color-unset: #b0b0b0;
$job-color-tank: #4d5aa0;
$job-color-healer: #548644;
$job-color-dps: #934848;
$job-color-doh: #5f4592;
$job-color-dol: #bb9b51;
$job-color-special: #505050;

// $job-color-unset: #b0b0b0;
// $job-color-tank: #2d3a80;
// $job-color-healer: #346624;
// $job-color-dps: #732828;
// $job-color-doh: #5f4592;
// $job-color-dol: #bb9b51;

$selected: #bb9b51;

.container {
  zoom: 50%;
}

.custom-box {
  zoom: 200%;
  padding-bottom: 3rem;
}

.box {
  margin: auto;
  align-content: center;
  // width: max-content;
  background-color: white;
  // position: absolute;
  // max-width: 1350px;
  height: 1080px;
}

// .preview {
//   position: relative;
// }

.type-select {
  font-size: 24px;

  input {
    width: 2rem;
  }

  span {
    vertical-align: middle;
  }

  [type = "radio"] {
    vertical-align: middle;
  }
}

.input-desc {

  input {
    text-align: left;
    width: 5rem;
    height: 1.8rem;
    border: 0;
  }
}

.check-status {
  font-size: 0.875rem;
}

.input-level {
  position: sticky;
  font-size: 0.75rem;
  color: $text-color;
  display: block;
  flex-direction: row;

  div {
    display: flex;
    flex-direction: row;
    height: 4rem;
    // margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    div {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 4rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .Tank {
      background-color: $job-color-tank;
    }

    .Healer {
      background-color: $job-color-healer;
    }
    
    .DPS {
      background-color: $job-color-dps;
    }
    
    .DOH {
      background-color: $job-color-doh;
    }
    
    .DOL {
      background-color: $job-color-dol;
    }
    
    .SPC {
      background-color: $job-color-special;
    }

    input {
      background: transparent;
      font-size: 1.125rem;
      text-align: center;
      width: 2.5rem;
      height: 2rem;
      border: 0;
      border-bottom: #f0f0f0 0.125rem solid;
      color: $text-color;
      outline: none;
      margin: auto;
    }
  }
}

.img-preview-pre {
  z-index: 1;
  position: absolute;
  width: 1350px;
  height: 1080px;
  top: 100px;
}

.img-preview {
  z-index: 1;
  position: absolute;
  height: 1080px;
  // left: -570px;
  // margin-left: -570px;
  // margin-right: -570px;
  // clip: rect(0px, 1350px, 1080px, 0px);
  // overflow: hidden;
}

.img-Background {
  z-index: 10;
  top: 0;
  // left: 570px;
  position: absolute;
}

.preview-final {
  z-index: 100;
  position: relative;
  width: 1350px;
  height: 1080px;
  // right: -570px;
  overflow: hidden;
}

.preview-icon {
  z-index: 150;
  position: absolute;
  color: $text-color;
  // display: flex;
  // left: 50px;
  // top: 300px;
  fill: $job-color-unset; // svg use fill to color

  span {
    // position: relative;
    // top: -0.25rem;
    // left: 0.5rem;
    // padding-right: 3.25rem;
    width: 50px;
    color: $text-color;
  }

  // .Tank {
  //   display: flex;
  //   position: absolute;
  //   // left: 1rem;
  //   top: 100px;
  //   // fill: $job-color-tank; // svg use fill to color
  // }
  
  // .Healer {
  //   display: flex;
  //   position: absolute;
  //   // left: 1rem;
  //   top: 300px;
  //   // fill: $job-color-healer; // svg use fill to color
  // }

  // .DpsM {
  //   display: flex;
  //   position: absolute;
  //   // left: 1rem;
  //   top: 400px;
  //   // fill: $job-color-dps; // svg use fill to color
  // }
}